.btn-delete {
    background-color: #9c6565 !important;
    color: white !important;
    border-radius: 0.2rem !important;
    margin-top: 1.3rem !important;
    border: 0rem !important;
    &:hover {
        background-color: #890707 !important;
    }
}

.active_style {
    width: 20rem;
    height: 20rem;
    background-color: green;
    border-radius: 30rem;
    margin: 25rem;
}    



